# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
ENV/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Build & Packaging
build/
dist/

# Project & Sensitive Data
cookies.txt
*.log
.env
downloads/
